<div>
    <h4>{{ $t('bookings_wait_your_approve') }}</h4>

    <table>
        <thead>
        <tr>
            <th>Client</th>
            <th>One time or regular</th>
            <th>Start Data</th>
            <th>Create Date</th>
            <th>Is set alternative</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="not_approved_bookings.length > 0" v-for="booking in not_approved_bookings">
            <th>{{ booking.client.first_name + ' ' + booking.client.last_name}}</th>
            <th>{{ $t(booking.one_time_or_regular) }}</th>
            <th>{{ booking.start_date }}</th>
            <th>{{ booking.created_at.split('T')[0] }}</th>
            <th v-if="booking.agree_for_alternative === 'yes'">{{ $t('client_agree_on_your_alternative_booking') }}</th>
            <th>{{ $t(booking.have_alternative) }}</th>
            <th>
                <button class="btn btn-sm btn-success" v-on:click="showCurrentBooking(booking)">
                    {{ $t('show') }}
                </button>&nbsp;
                <button v-if="booking.agree_for_alternative === 'yes'" class="btn btn-sm btn-secondary">
                    {{ $t('client-accept-alternative') }}
                </button>&nbsp;
                <button v-else-if="booking.have_alternative === 'no'" class="btn btn-sm btn-success"
                        v-on:click="showCurrentAlternativeBooking(booking)">
                    {{ $t('alternative') }}
                </button>&nbsp;

                <button v-else class="btn btn-sm btn-secondary">{{ $t('you-sent-alternative') }}</button>
                &nbsp
                <button class="btn btn-sm btn-success" v-on:click="showChatWithClient(booking.client)">
                    {{ $t('send_message') }}
                </button>&nbsp;
                <button class="btn btn-sm btn-success" v-on:click="showApproveBookingConfirm(booking)">{{ $t('approve')
                    }}
                </button>&nbsp;
                <button class="btn btn-sm btn-success" v-on:click="showRefuseBooking(booking)">{{ $t('refuse') }}
                </button>
            </th>
        </tr>
        </tbody>
    </table>

    <h4>{{ $t('bookings_approved_wait_payments') }}</h4>

    <table>
        <thead>
        <tr>
            <th>Client</th>
            <th>One time or regular</th>
            <th>Start Data</th>
            <th>Create Date</th>
            <th>Is set alternative</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="approved_bookings.length > 0" v-for="booking in approved_bookings">
            <th>{{ booking.client.first_name + ' ' + booking.client.last_name}}</th>
            <th>{{ $t(booking.one_time_or_regular) }}</th>
            <th>{{ booking.start_date }}</th>
            <th>{{ booking.created_at.split('T')[0] }}</th>
            <th v-if="booking.agree_for_alternative === 'yes'">{{ $t('client_agree_on_your_alternative_booking') }}</th>
            <th>{{ $t(booking.have_alternative) }}</th>
            <th>
                <button class="btn btn-sm btn-success" v-on:click="showCurrentBooking(booking)">
                    {{ $t('show') }}
                </button>&nbsp;
                <button class="btn btn-sm btn-success" v-on:click="showChatWithClient(booking.client)">
                    {{ $t('send_message') }}
                </button>&nbsp;
                <button class="btn btn-sm btn-success" v-on:click="showRefuseBooking(booking)">{{ $t('refuse') }}
                </button>
            </th>
        </tr>
        </tbody>
    </table>

    <h4>{{ $t('booking_in_process') }}</h4>

    <table>
        <thead>
        <tr>
            <th>Client</th>
            <th>One time or regular</th>
            <th>Start Data</th>
            <th>Create Date</th>
            <th>Is set alternative</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="in_process_bookings.length > 0" v-for="booking in in_process_bookings">
            <th>{{ booking.client.first_name + ' ' + booking.client.last_name}}</th>
            <th>{{ $t(booking.one_time_or_regular) }}</th>
            <th>{{ booking.start_date }}</th>
            <th>{{ booking.created_at.split('T')[0] }}</th>
            <th v-if="booking.agree_for_alternative === 'yes'">{{ $t('client_agree_on_your_alternative_booking') }}</th>
            <th>{{ $t(booking.have_alternative) }}</th>
            <th>
                <button class="btn btn-sm btn-success" v-on:click="showCurrentBooking(booking)">
                    {{ $t('show') }}
                </button>&nbsp;
                <button v-if="booking.agree_for_alternative === 'yes'" class="btn btn-sm btn-secondary">
                    {{ $t('client-accept-alternative') }}
                </button>&nbsp;
                <button v-else-if="booking.have_alternative === 'no'" class="btn btn-sm btn-success"
                        v-on:click="showCurrentAlternativeBooking(booking)">
                    {{ $t('alternative') }}
                </button>&nbsp;

                <button v-else class="btn btn-sm btn-secondary">{{ $t('you-sent-alternative') }}</button>
                &nbsp
                <button class="btn btn-sm btn-success" v-on:click="showChatWithClient(booking.client)">
                    {{ $t('send_message') }}
                </button>&nbsp;
                <button class="btn btn-sm btn-success" v-on:click="showApproveBookingConfirm(booking)">{{ $t('approve')
                    }}
                </button>&nbsp;
                <button class="btn btn-sm btn-success" v-on:click="showRefuseBooking(booking)">{{ $t('refuse') }}
                </button>
            </th>
        </tr>
        </tbody>
    </table>

    <h4>{{ $t('booking_is_ended') }}</h4>

    <table>
        <thead>
        <tr>
            <th>Client</th>
            <th>One time or regular</th>
            <th>Start Data</th>
            <th>Create Date</th>
            <th>Is set alternative</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="ended_bookings.length > 0" v-for="booking in ended_bookings">
            <th>{{ booking.client.first_name + ' ' + booking.client.last_name}}</th>
            <th>{{ $t(booking.one_time_or_regular) }}</th>
            <th>{{ booking.start_date }}</th>
            <th>{{ booking.created_at.split('T')[0] }}</th>
            <th v-if="booking.agree_for_alternative === 'yes'">{{ $t('client_agree_on_your_alternative_booking') }}</th>
            <th>{{ $t(booking.have_alternative) }}</th>
            <th>
                <button class="btn btn-sm btn-success" v-on:click="showCurrentBooking(booking)">
                    {{ $t('show') }}
                </button>&nbsp;
                <button v-if="booking.agree_for_alternative === 'yes'" class="btn btn-sm btn-secondary">
                    {{ $t('client-accept-alternative') }}
                </button>&nbsp;
                <button v-else-if="booking.have_alternative === 'no'" class="btn btn-sm btn-success"
                        v-on:click="showCurrentAlternativeBooking(booking)">
                    {{ $t('alternative') }}
                </button>&nbsp;

                <button v-else class="btn btn-sm btn-secondary">{{ $t('you-sent-alternative') }}</button>
                &nbsp
                <button class="btn btn-sm btn-success" v-on:click="showChatWithClient(booking.client)">
                    {{ $t('send_message') }}
                </button>&nbsp;
                <button class="btn btn-sm btn-success" v-on:click="showApproveBookingConfirm(booking)">{{ $t('approve')
                    }}
                </button>&nbsp;
                <button class="btn btn-sm btn-success" v-on:click="showRefuseBooking(booking)">{{ $t('refuse') }}
                </button>
            </th>
        </tr>
        </tbody>
    </table>

    <div v-if="show_chat" class="single-chat-wrapper">
        <div class="container-fluid">
            <h2>Single Chat with {{ client.first_name + ' ' + client.last_name}}</h2>
            <div class="row">
                <div class="col-2 offset-10">
                    <button class="btn btn-sm btn-success" v-on:click="closeModal()">{{ $t('close') }}</button>
                </div>

            </div>
            <br>
            <div class="row">
                <single_chat :nurse="user" :data="data" :client="client"></single_chat>
            </div>
        </div>
    </div>

    <div v-if="show_booking" class="single-chat-wrapper">
        <div class="container-fluid">
            <h2>Booking from {{ booking.client.first_name + ' ' + booking.client.last_name}}</h2>
            <div class="row">
                <div class="col-2 offset-10">
                    <button class="btn btn-sm btn-success" v-on:click="closeModal()">{{ $t('close') }}</button>
                </div>

            </div>
            <br>
            <div class="row">
                <booking :booking="booking"></booking>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <button v-if="booking.status === 'not_approved'"
                            class="btn btn-sm btn-success"
                            v-on:click="showCurrentAlternativeBooking(booking)">{{
                        $t('alternative') }}
                    </button>&nbsp;
                    <button v-if="booking.status === 'not_approved'"
                            class="btn btn-sm btn-success"
                            v-on:click="showApproveBookingConfirm(booking)">{{
                        $t('approve') }}
                    </button>&nbsp;
                    <button class="btn btn-sm btn-success" v-on:click="showRefuseBooking(booking)">{{ $t('refuse') }}
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div v-if="show_alternative" class="alternative-booking-wrapper">
        <div class="container-fluid">
            <h2>Booking from {{ booking.client.first_name + ' ' + booking.client.last_name}}</h2>
            <div class="row">
                <div class="col-2 offset-10">
                    <button class="btn btn-sm btn-success" v-on:click="closeModal()">{{ $t('close') }}</button>
                </div>

            </div>
            <br>
            <div class="row">
                <alternative :data="data" :booking_id="booking.id" :nurse="user"></alternative>
            </div>

        </div>
    </div>

    <div v-if="show_refuse" class="refuse-booking-wrapper">
        <div class="container-fluid">
            <h2> {{ $t('refuse_booking_from') + ' ' + booking.client.first_name + ' ' + booking.client.last_name}}</h2>
            <div class="row">
                <div class="col-2 offset-10">
                    <button class="btn btn-sm btn-success" v-on:click="closeModal()">{{ $t('close') }}</button>
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2">
                    <label class="form-label col-form-label-sm">{{ $t('your_reason_to_refuse') }}</label>
                    <select class="form-control form-control-sm"
                            v-model="booking.reason_of_refuse_booking">
                        <option value="distance">{{ $t('distance') }}</option>
                        <option value="time">{{ $t('time') }}</option>
                        <option value="a">{{ $t('a') }}</option>
                        <option value="b">{{ $t('b') }}</option>
                        <option value="c">{{ $t('c') }}</option>
                        <option value="other">{{ $t('other') }}</option>
                    </select>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <span>{{ $t('if_you_refuse_booking_he_remove_from_listing') }}</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2 offset-10">
                    <button class="btn btn-sm btn-success" v-on:click="refuseBooking(booking.id)">{{ $t('refuse') }}
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div v-if="show_confirm_approve" class="approve-confirm-wrapper">
        <div class="container-fluid">
            <h2> {{ $t('approve_booking_with') + ' ' + booking.client.first_name + ' ' + booking.client.last_name}}</h2>
            <div class="row">
                <div class="col-6" style="text-align: center;">
                    <button class="btn btn-danger btn-sm" v-on:click="confirmApproveBooking()">{{ $t('approve') }}
                    </button>
                </div>
                <div class="col-6" style="text-align: center;">
                    <button class="btn btn-success btn-sm" v-on:click="closeModal()">{{ $t('close') }}</button>
                </div>

            </div>
        </div>
    </div>

</div>
