<div>
    <h1>LISTING</h1>

    <table rules="all">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Photo</th>
            <th>Zip code</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="nurses.length > 0" v-for="nurse in nurses">

            <td>{{ nurse.last_name + ' ' + nurse.first_name }}</td>
            <td>{{ nurse.entity.age }}</td>
            <td>
                <img v-bind:src="path + '/storage/' + nurse.entity.thumbnail_photo" alt="no-photo" class="">
            </td>
            <td>{{ nurse.zip_code }}</td>
            <td>Price</td>
            <td>
                {{ nurse.entity.description}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
