$grid-offset: 15px;

@mixin col-default {
    width: 100%;
    padding: 0 $grid-offset;
}

.pt-row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -$grid-offset;
    margin-left: -$grid-offset;
    min-width: 100%;

    @media (max-width: $width-sm ){
        margin-right: 0;
        margin-left: 0;
    }

    &-stretch{
        align-items: stretch;
    }

    &-between{
        justify-content: space-between;
    }

    &-a-center{
        align-items: center;
    }

    &-end{
        align-items: flex-end;
    }
}

[class*="pt-col-"]{
    @include col-default;

    @media (max-width: $width-sm - 1){
        padding: $grid-offset;
    }
}

.pt-col{
    @each $size, $breakpoint, $breakpoint-end in
            (sm, $width-sm),
            (md, $width-md),
            (lg, $width-lg){
        &-#{$size} {
            //@for $i from 1 through 12 {
            //  &-#{$i}{
            //    @include col-default;
            //  }
            //}

            @media (min-width: $breakpoint){
                @for $i from 1 through 12 {
                    &-#{$i}{
                        width: calc(100% / (12 / #{$i}));
                    }
                }
            }

            @media (max-width: $breakpoint - 1){
                @for $i from 1 through 12 {
                    &-#{$i}{
                        //padding: $grid-offset;
                    }
                }
            }
        }
    }
}

@each $offset in
        (10), (20), (30), (40), (50){
    @each $opt, $cls in
            (margin-top, mt),
            (margin-bottom, mb),
            (margin-left, ml),
            (margin-right, mr),{
        .pt-#{$cls}-#{$offset}{
            #{$opt}: #{$offset}px;
        }
    }
}

@for $offset from 1 through 50 {
  @each $opt, $cls in
      (margin-top, mt),
      (margin-bottom, mb),
      (margin-left, ml),
      (margin-right, mr),{
    .pt-#{$cls}-#{$offset}{
      #{$opt}: #{$offset}px;
    }
  }
}

.pt-m-a{
    margin-left: auto;
    margin-right: auto;
}
.pt-ml-a{
    margin-left: auto;
}
.pt-mr-a{
    margin-right: auto;
}
