.pt-profile{
    &--head{
        background-color: $light-blue;
        border-radius: 5px;
        padding: 20px 25px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        &-avatar{
            width: 180px;
            min-width: 180px;
            height: 180px;
            overflow: hidden;
            margin-right: 20px;
            border-radius: 50%;

            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-info{
            width: calc(100% - 200px);
        }

        &-top{

        }

        &-bottom{
            display: flex;
            justify-content: space-between;
        }
    }

    &--name{
        font-size: 18px;
        font-weight: 700;
    }

    &--age{
        font-size: 14px;
        color: $gray;
    }

    &--price{
        text-transform: uppercase;
        padding: 3px 15px;
        border-radius: 5px;
        background-color: $light-gray;
        font-weight: 700;
        display: inline-block;
        vertical-align: top;
    }

    &--list{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 20px 25px;
        border: 2px solid $light-blue;
        border-radius: 5px;

        &-item{
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .pt-icon{
                width: 22px;
                min-width: 22px;
                height: 24px;
                margin-right: 10px;
                margin-top: 2px;
                color: $highlight;
            }

            &-title{
                font-size: 14px;
                color: $gray;
            }

            &-text{
                font-weight: 700;
            }
        }
    }
}
