<div class="nurse-card-wrapper">

    <div class="container-fluid">

        <div class="row">

            <div class="col-2">

                <h5>Nurse Info</h5>

            </div>

            <div class="col-1 offset-9">

                <button class="btn btn-danger btn-sm" v-on:click="closeNurseCard()">Close</button>

            </div>

        </div>

    </div>

    <div v-if="nurse !== null">
        <div class="container-fluid">

            <div class="row">

                <div class="col-4">

                    <!--first_name-->
                    <div class="row">
                        <div class="col-4">
                            <label class="col-form-label-sm" for="first_name">{{ $t('name') }}</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="first_name" class="form-control form-control-sm"
                                   v-model="nurse.first_name">
                        </div>
                    </div>

                    <!--last_name-->
                    <div class="row">
                        <div class="col-4">
                            <label class="col-form-label-sm" for="last_name">{{ $t('last_name') }}</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="last_name" class="form-control form-control-sm"
                                   v-model="nurse.last_name">
                        </div>
                    </div>

                    <!--age-->
                    <div class="row">
                        <div class="col-4">
                            <label class="col-form-label-sm" for="age">{{ $t('age') }}</label>
                        </div>
                        <div class="col-8">
                            <input type="number" id="age" class="form-control form-control-sm"
                                   v-model="nurse.entity.age" min="18" max="90">
                        </div>
                    </div>

                    <!--gender-->
                    <div class="row">
                        <div class="col-4">
                            <label class="col-form-label-sm" for="gender">{{ $t('gender') }}</label>
                        </div>
                        <div class="col-8">
                            <select id="gender" class="form-control form-control-sm"
                                    v-model="nurse.entity.gender">
                                <option value="male">{{ $t('male') }}</option>
                                <option value="female">{{ $t('female') }}</option>
                            </select>
                        </div>
                    </div>

                    <!--email-->
                    <div class="row">
                        <div class="col-4">
                            <label class="col-form-label-sm" for="email">{{ $t('email') }}</label>
                        </div>
                        <div class="col-8">
                            <input type="email" id="email" class="form-control form-control-sm"
                                   v-model="nurse.email">
                        </div>
                    </div>

                    <!--phone-->
                    <div class="row">
                        <div class="col-4">
                            <label class="col-form-label-sm" for="phone">{{ $t('phone') }}</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="phone" class="form-control form-control-sm"
                                   v-model="nurse.phone">
                        </div>
                    </div>

                    <!-- zip code -->
                    <div class="row">
                        <div class="col-4">
                            <label for="zip_code" class="form-label col-form-label-sm">{{ $t('zip_code') }}</label>
                        </div>

                        <div class="col-8">
                            <input type="text" class="form-control form-control-sm" v-model="nurse.zip_code"
                                   id="zip_code">
                        </div>
                    </div>

                    <!-- languages -->
                    <div class="row">
                        <div class="col-4">
                            <label class="form-label col-form-label-sm">{{ $t('languages') }}</label>
                        </div>

                        <div class="col-8">
                            <template v-for="(item, index) in nurse.entity.languages">
                                <div class="row">

                                    <div class="col-6">
                                        <select class="form-control form-control-sm"
                                                v-model="item.lang_id">
                                            <option :value="lang.id" v-for="lang in data.languages">{{ $t(lang.name)
                                                }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-3">
                                        <select class="form-control form-control-sm"
                                                v-model="item.level">
                                            <option value="A1">A1</option>
                                            <option value="A2">A2</option>
                                            <option value="B1">B1</option>
                                            <option value="B2">B2</option>
                                            <option value="C1">C1</option>
                                            <option value="C2">C2</option>
                                        </select>

                                    </div>
                                    <div class="col-1">
                                        <span v-on:click="removeLang(index)" style="cursor:pointer">x</span>
                                    </div>
                                </div>

                            </template>


                            <div class="col-12">
                                <button class="btn btn-light ms-auto d-block mt-1"
                                        @click.prevent="addLanguage"
                                >+
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-4">

                    <!--                additional info-->
                    <div class="row">
                        <div class="col-4">
                            <label for="additional_info" class="form-label col-form-label-sm">{{ $t('additional_info')
                                }}</label>
                        </div>
                        <div class="col-8">
                            <v-select :options="data.additional_info" multiple id="additional_info"
                                      label="alias"
                                      v-model="nurse.entity.additional_info"
                                      :reduce="(option) => option">
                                <template #option="{ data }">
                                    {{ data.data }}
                                </template>

                                <template #open-indicator>
                                    <span class="pt-select--caret"></span>
                                </template>
                            </v-select>
                        </div>
                    </div>

                    <!-- provide supports -->
                    <div class="row">
                        <div class="col-4">
                            <label for="provide_supports" class="form-label col-form-label-sm">{{ $t('provide_supports')
                                }}</label>
                        </div>

                        <div class="col-8">

                            <v-select multiple :options="translateOptions(data.provider_supports)" id="provide_supports"
                                      label="name"
                                      v-model="nurse.entity.provide_supports"
                                      :reduce="(option) => option">
                                <template #option="{ name }">
                                    {{ name }}
                                </template>

                                <template #open-indicator>
                                    <span class="pt-select--caret"></span>
                                </template>
                            </v-select>

                        </div>
                    </div>


                    <!--                Work time pref-->
                    <p v-if="show_modal !='work_time_pref'">{{ $t('work_time_pref') }} <span style="cursor: pointer;"
                                   v-on:click="showHideWorkTimePrefWindow()">&#8964;</span></p>
                    <p v-else>{{ $t('work_time_pref') }} <span style="cursor: pointer;"
                                                        v-on:click="closeModal()">&#8964;</span></p>

                    <div class="row" v-if="show_modal =='work_time_pref'">
                        <div class="col-6">
                            <h5>{{ $t('weekdays') }}</h5>
                            <div v-for="(item,index) in data.time_intervals">
                                <template v-if="item.type ==='weekdays'">
                                    <h6>{{ item.interval }}</h6>
                                    <input type="checkbox" true-value="1" false-value="0"
                                           v-model="nurse.entity.work_time_pref[item.id]">

                                    <hr>
                                </template>
                            </div>
                        </div>
                        <div class="col-6">
                            <h5>{{ $t('weekends') }}</h5>
                            <div v-for="(item,index) in data.time_intervals">
                                <template v-if="item.type ==='weekends'">
                                    <h6>{{ item.interval }}</h6>
                                    <input type="checkbox" true-value="1" false-value="0"
                                           v-model="nurse.entity.work_time_pref[item.id]">

                                    <hr>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                Photo-->
                <div class="col-4">

                    <img v-bind:src="path + '/storage/' + nurse.entity.original_photo" alt="no-photo"
                         class="nurse-card-photo">

                </div>

            </div>
            <br>
            <div class="row">
                <!-- description -->
                <div class="row">
                    <div class="col-1">
                        <label for="description" class="form-label col-form-label-sm">{{ $t('description') }}</label>
                    </div>

                    <div class="col-10">
                        <textarea class="form-control form-control-sm" v-model="nurse.entity.description"
                                  id="description"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-4">
                    <!-- available care range -->
                    <div class="row">
                        <div class="col-4">
                            <label for="available_care_range" class="form-label col-form-label-sm">
                                {{ $t('available_care_range') }}
                            </label>
                        </div>
                        <div class="col-8">
                            <select class="form-control form-control-sm" v-model="nurse.entity.available_care_range"
                                    id="available_care_range">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="0">{{ $t('not_sure') }}</option>
                            </select>
                        </div>
                    </div>

                    <!-- experience -->
                    <div class="row">
                        <div class="col-4">
                            <label for="experience" class="form-label col-form-label-sm">{{ $t('experience') }}</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control form-control-sm" v-model="nurse.entity.experience"
                                   id="experience" min="0" max="100">
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <!-- pref client gender -->
                    <div class="row">
                        <div class="col-4">
                            <label for="pref_client_gender" class="form-label col-form-label-sm">
                                {{ $t('preference_client_gender') }}
                            </label>
                        </div>
                        <div class="col-8">
                            <select class="form-control form-control-sm" v-model="nurse.entity.pref_client_gender"
                                    id="pref_client_gender">
                                <option value="no_matter">{{ $t('no_matter') }}</option>
                                <option value="male">{{ $t('male') }}</option>
                                <option value="female">{{ $t('female') }}</option>
                            </select>
                        </div>
                    </div>

                    <!-- multiple bookings -->
                    <div class="row">
                        <div class="col-4">
                            <label for="multiple_bookings" class="form-label col-form-label-sm">
                                {{ $t('multiple_bookings') }}
                            </label>
                        </div>
                        <div class="col-8">
                            <select class="form-control form-control-sm" v-model="nurse.entity.multiple_bookings"
                                    id="multiple_bookings">
                                <option value="yes">{{ $t('yes') }}</option>
                                <option value="no">{{ $t('no') }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4 offset-8">
                    <button class="btn btn-danger btn-sm" v-on:click="updateNurse()">{{ $t('update') }}</button>&nbsp;
                    <button class="btn btn-danger btn-sm">Forbidden</button>&nbsp;
                    <button class="btn btn-success btn-sm" v-on:click="approveNurse()">Approve</button>
                </div>
            </div>
        </div>

    </div>

</div>
