<div>
    <h1>Nurses</h1>

    <table rules="all">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Photo</th>
            <th>Is New Info</th>
            <th>Is Change</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="nurses.length > 0" v-for="nurse in nurses">

            <td>{{ nurse.id }}</td>
            <td>{{ nurse.last_name + ' ' + nurse.first_name }}</td>
            <td>{{ nurse.entity.age }}</td>
            <td>
                <img v-bind:src="path + '/storage/' + nurse.entity.thumbnail_photo" alt="no-photo" class="">
            </td>
            <td><span v-if="nurse.entity.info_is_full === 'yes'" class="alarm-signal blink"></span>{{ nurse.entity.info_is_full }}</td>
            <td><span v-if="nurse.entity.change_info === 'yes'" class="alarm-signal blink"></span>{{ nurse.entity.change_info }}</td>
            <td>
                <button class="btn btn-success btn-sm" v-on:click="checkUser(nurse)">Check</button>&nbsp;
                <button v-if="nurse.entity.is_approved === 'no'" class="btn btn-success btn-sm">Approve</button>
                <button v-else class="btn btn-secondary btn-sm">Dismiss</button>
            </td>
        </tr>
        </tbody>
    </table>

    <nurses-card v-if="nurseCardIsVisible" :nurse="nurse"></nurses-card>
</div>
