<div>
    <h2>My information</h2>
    <span style="font-size: 10px">* It is necessary to make an instruction, so that each user understands that a change in information automatically sends her for verification </span>

    <div class="container-fluid">

        <div class="row">
            <div class="col-3">

                <!-- first name -->
                <div class="row">
                    <div class="col-4">
                        <label for="first_name" class="form-label col-form-label-sm">First name</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" v-model="user.first_name"
                               id="first_name">
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['first_name'] !== undefined">{{ errors['first_name'][0] }}</span>
                </div>

                <!-- last name -->
                <div class="row">
                    <div class="col-4">
                        <label for="last_name" class="form-label col-form-label-sm">Last name</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" v-model="user.last_name"
                               id="last_name">
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['last_name'] !== undefined">{{ errors['last_name'][0] }}</span>
                </div>

                <!-- email -->
                <div class="row">
                    <div class="col-4">
                        <label for="email" class="form-label col-form-label-sm">Email</label>
                    </div>

                    <div class="col-8">
                        <input type="email" class="form-control form-control-sm" v-model="user.email" id="email">
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['email'] !== undefined">{{ errors['email'][0] }}</span>
                </div>

                <!-- phone -->
                <div class="row">
                    <div class="col-4">
                        <label for="phone" class="form-label col-form-label-sm">Phone</label>
                    </div>

                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" v-model="user.phone" id="phone">
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['phone'] !== undefined">{{ errors['phone'][0] }}</span>
                </div>

                <!-- zip code -->
                <div class="row">
                    <div class="col-4">
                        <label for="zip_code" class="form-label col-form-label-sm">Zip code</label>
                    </div>

                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" v-model="user.zip_code"
                               id="zip_code">
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['zip_code'] !== undefined">{{ errors['zip_code'][0] }}</span>
                </div>

                <!-- gender -->
                <div class="row">
                    <div class="col-4">
                        <label for="gender" class="form-label col-form-label-sm">Gender</label>
                    </div>

                    <div class="col-8">
                        <select class="form-control form-control-sm" v-model="user.entity.gender" id="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['entity.gender'] !== undefined">{{ errors['entity.gender'][0] }}</span>
                </div>

                <!-- age -->
                <div class="row">
                    <div class="col-4">
                        <label for="age" class="form-label col-form-label-sm">Age</label>
                    </div>

                    <div class="col-8">
                        <input type="number" class="form-control form-control-sm" v-model="user.entity.age" id="age"
                               min="18" max="100">
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['entity.age'] !== undefined">{{ errors['entity.age'][0] }}</span>
                </div>

                <!-- experience -->
                <div class="row">
                    <div class="col-4">
                        <label for="experience" class="form-label col-form-label-sm">Experience</label>
                    </div>

                    <div class="col-8">
                        <input type="number" class="form-control form-control-sm" v-model="user.entity.experience"
                               id="experience" min="0" max="100">
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['entity.experience'] !== undefined">{{ errors['entity.experience'][0] }}</span>
                </div>

                <!-- languages -->
                <div class="row">
                    <div class="col-4">
                        <label for="languages" class="form-label col-form-label-sm">Languages</label>
                    </div>

                    <div class="col-6">
                        <select v-if="user.entity.languages.length > 0" class="form-control form-control-sm" v-model="user.entity.languages[0].lang" id="languages">
                            <option value="English">English</option>
                            <option value="Deutsche">Deutsche</option>
                        </select>
                    </div>

                    <div class="col-2">
                        <select v-if="user.entity.languages.length > 0" class="form-control form-control-sm" v-model="user.entity.languages[0].level" id="">
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="C1">C1</option>
                            <option value="C2">C2</option>
                        </select>
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['entity.languages.0.lang'] !== undefined">{{ errors['entity.languages.0.lang'][0] }}</span>
                    <span class="register-form-error" v-if="errors !== null && errors['entity.languages.0.level'] !== undefined">{{ errors['entity.languages.0.level'][0] }}</span>
                </div>
            </div>

            <div class="col-3">
                <!-- pref client gender -->
                <div class="row">
                    <div class="col-4">
                        <label for="pref_client_gender" class="form-label col-form-label-sm">Preference client
                            gender</label>
                    </div>

                    <div class="col-8">
                        <select class="form-control form-control-sm" v-model="user.entity.pref_client_gender"
                                id="pref_client_gender">
                            <option value="no_matter">No matter</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['entity.pref_client_gender'] !== undefined">{{ errors['entity.pref_client_gender'][0] }}</span>
                </div>

                <!-- available care range -->
                <div class="row">
                    <div class="col-4">
                        <label for="available_care_range" class="form-label col-form-label-sm">Available care
                            range</label>
                    </div>

                    <div class="col-8">
                        <select class="form-control form-control-sm" v-model="user.entity.available_care_range"
                                id="available_care_range">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['entity.available_care_range'] !== undefined">{{ errors['entity.available_care_range'][0] }}</span>
                </div>

                <!-- multiple bookings -->
                <div class="row">
                    <div class="col-4">
                        <label for="multiple_bookings" class="form-label col-form-label-sm">Multiple
                            bookings</label>
                    </div>

                    <div class="col-8">
                        <select class="form-control form-control-sm" v-model="user.entity.multiple_bookings"
                                id="multiple_bookings">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['entity.multiple_bookings'] !== undefined">{{ errors['entity.multiple_bookings'][0] }}</span>
                </div>

                <!-- provide supports -->
                <div class="row">
                    <div class="col-4">
                        <label for="provide_supports" class="form-label col-form-label-sm">Provide supports</label>
                    </div>

                    <div class="col-8">
                        <select class="form-control form-control-sm" v-model="user.entity.provide_supports"
                                id="provide_supports" multiple>
                            <option v-for="support in data.provider_supports"
                                    :value="support">
                                {{ $t(support.name) }}
                            </option>
                        </select>
                    </div>
                    <span class="register-form-error" v-if="errors !== null && errors['entity.provide_supports'] !== undefined">{{ errors['entity.provide_supports'][0] }}</span>

                </div>

            </div>

            <div class="col-2 offset-3">

                <div v-if="user.entity.original_photo !== null" class="my-information-photo-wrapper">
                    <img v-bind:src="path + '/storage/' + user.entity.original_photo" alt="no-photo" class="my-information-photo">
                </div>

                <div v-else class="my-information-photo-wrapper">
                    <img :src="path + '/images/no-photo.jpg'" alt="no-photo" class="my-information-photo">

                </div>

                <input type="file" name="nurse_new_photo"
                       ref="file"
                       v-on:change="photoUpload()"
                       class="form-control-file form-control-sm">
                <span class="register-form-error" v-if="errors !== null && errors['file'] !== undefined">{{ errors['file'][0] }}</span>
            </div>
        </div>

        <div class="row">

            <div class="col-6">
                <!-- description -->
                <div class="row">
                    <div class="col-2">
                        <label for="description" class="form-label col-form-label-sm">Description</label>
                    </div>

                    <div class="col-10">
                            <textarea class="form-control form-control-sm" v-model="user.entity.description"
                                      id="description" rows="6">

                            </textarea>
                        <span class="register-form-error" v-if="errors !== null && errors['entity.description'] !== undefined">{{ errors['entity.description'][0] }}</span>
                    </div>
                </div>
                <div class="row">


                    <div class="col-2">
                        <label for="additional_info" class="form-label col-form-label-sm">Additional info</label>
                    </div>

                    <div class="col-6">

                        <select class="form-control form-control-sm" v-model="user.entity.additional_info"
                                id="additional_info" multiple>
                            <option v-for="(info_item, index) in data.additional_info"
                                    :value="info_item">
                                {{ data.additional_info_data[index].data }}
                            </option>
                        </select>

                    </div>

                </div>

                <div class="row">
                    <div class="col-12 justify-content-center">
                        <span class="form-label col-form-label-sm">Indicate the hours you available to work</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="row">
                            <div class="col-4 offset-4 justify-content-center">Weekdays</div>
                            <div class="col-4 justify-content-center">Weekends</div>
                        </div>
                        <div class="row">
                            <div class="col-4 offset-4 justify-content-center">Mon-Fri</div>
                            <div class="col-4 justify-content-center">Sat-Sun</div>
                        </div>

<!--                        Morning-->
                        <div class="row">
                            <div class="col-4">6a - 12p</div>
                            <div class="col-4 justify-content-center">
                                <input type="checkbox" id="weekdays_morning" true-value="1" false-value="0"
                                       v-model="user.entity.work_time_pref.weekdays_morning">
                                &nbsp;<label for="weekdays_morning">Morning</label>
                            </div>
                            <div class="col-4 justify-content-center">
                                <input type="checkbox" id="weekends_morning" true-value="1" false-value="0"
                                       v-model="user.entity.work_time_pref.weekends_morning">
                                &nbsp;<label for="weekends_morning">Morning</label>
                            </div>
                        </div>
<!--                        Afternoon-->
                        <div class="row">
                            <div class="col-4">12p - 4p</div>
                            <div class="col-4 justify-content-center">
                                <input type="checkbox" id="weekdays_afternoon" true-value="1" false-value="0"
                                       v-model="user.entity.work_time_pref.weekdays_afternoon">
                                &nbsp;<label for="weekdays_afternoon">Afternoon</label>
                            </div>
                            <div class="col-4 justify-content-center">
                                <input type="checkbox" id="weekends_afternoon" true-value="1" false-value="0"
                                       v-model="user.entity.work_time_pref.weekends_afternoon">
                                &nbsp;<label for="weekends_afternoon">Afternoon</label>
                            </div>
                        </div>
<!--                        Evening-->
                        <div class="row">
                            <div class="col-4">4p - 8p</div>
                            <div class="col-4 justify-content-center">
                                <input type="checkbox" id="weekdays_evening" true-value="1" false-value="0"
                                       v-model="user.entity.work_time_pref.weekdays_evening">
                                &nbsp;<label for="weekdays_evening">Evening</label>
                            </div>
                            <div class="col-4 justify-content-center">
                                <input type="checkbox" id="weekends_evening" true-value="1" false-value="0"
                                       v-model="user.entity.work_time_pref.weekends_evening">
                                &nbsp;<label for="weekends_evening">Evening</label>
                            </div>
                        </div>
<!--                        Overnight-->
                        <div class="row">
                            <div class="col-4">8p - 6a</div>
                            <div class="col-4 justify-content-center">
                                <input type="checkbox" id="weekdays_overnight" true-value="1" false-value="0"
                                       v-model="user.entity.work_time_pref.weekdays_overnight">
                                &nbsp;<label for="weekdays_overnight">Overnight</label>
                            </div>
                            <div class="col-4 justify-content-center">
                                <input type="checkbox" id="weekends_overnight" true-value="1" false-value="0"
                                       v-model="user.entity.work_time_pref.weekends_overnight">
                                &nbsp;<label for="weekends_overnight">Overnight</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 offset-1" style="border: solid 1px lightgray">
                <div>
                    criminal record
                    <input type="file" id="criminal_record" ref="criminal_record" multiple class="form-control-file form-control-sm"/>
                    <p class="file_name" v-for="item in filterFiles(user.entity.files, 'criminal_record')">{{ item.original_name }}</p><br>
                    <span class="register-form-error" v-if="errors !== null && errors['criminal_record'] !== undefined">{{ errors['criminal_record'][0] }}</span>
                </div>

                <div>
                    documentation of training
                    <input type="file" id="documentation_of_training" ref="documentation_of_training" multiple class="form-control-file form-control-sm"/>
                    <p class="file_name"  v-for="item in filterFiles(user.entity.files, 'documentation_of_training')">{{ item.original_name }}</p>
                    <span class="register-form-error" v-if="errors !== null && errors['documentation_of_training'] !== undefined">{{ errors['documentation_of_training'][0] }}</span>
                </div>

                <div>
                    CPR course
                    <input type="file" id="CPR_course" ref="CPR_course" multiple class="form-control-file form-control-sm"/>
                    <p class="file_name"  v-for="item in filterFiles(user.entity.files, 'CPR_course')">{{ item.original_name }}</p>
                </div>

                <div>
                    references
                    <input type="file" id="references" ref="references" multiple class="form-control-file form-control-sm"/>
                    <p class="file_name"  v-for="item in filterFiles(user.entity.files, 'references')">{{ item.original_name }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2 offset-10">

                <button class="btn btn-success btn-sm" v-on:click="updateInformation">Update</button>

            </div>
        </div>
    </div>

</div>


