<div>
    <h2>{{ $t('my_information') }}</h2>
    <span style="font-size: 12px;color: red;">* It is necessary to make an instruction, so that each user understands that a change in information automatically sends her for verification </span>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button v-bind:class="[info_active ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm']"
                        v-on:click="showInfo()">
                    Info
                </button>
            </div>
            <div class="col-2">
                <button v-bind:class="[calendar_active ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm']"
                        v-on:click="showCalendar()">
                    Time calendar
                </button>
            </div>
            <div class="col-2">
                <button v-bind:class="[file_active ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm']"
                        v-on:click="showFilesAndPhoto()">
                    File and photo
                </button>
            </div>
        </div>
    </div>
    <br>

    <nurse_info v-if="info_active" :user="user" :data="data" :errors="errors"></nurse_info>

    <nurse_files_and_photo v-if="file_active" :user="user" :data="data"></nurse_files_and_photo>

    <nurse_time_calendar v-if="calendar_active" :user="user" :data="data" :errors="errors"></nurse_time_calendar>

</div>


