<div>
    <h2>{{ $t('my_information') }}</h2>
    <span style="font-size: 12px;color: red;">* It is necessary to make an instruction, so that each user understands that a change in information automatically sends her for verification </span>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button v-bind:class="[info_active ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm']"
                        v-on:click="showInfo()">
                    Info
                </button>
            </div>
            <div class="col-2">
                <button v-bind:class="[calendar_active ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm']"
                        v-on:click="showCalendar()">
                    Time calendar
                </button>
            </div>
            <div class="col-2">
                <button v-bind:class="[file_active ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm']"
                        v-on:click="showFilesAndPhoto()">
                    File and photo
                </button>
            </div>
        </div>
    </div>
    <br>

    <nurse_info v-if="info_active" :user="user" :data="data"></nurse_info>

    <div v-if="calendar_active" class="container-fluid">
        <!-- one or regular order -->
        <div class="row">
            <div class="col-3">
                <label for="one_or_regular" class="form-label col-form-label-sm">
                    {{ $t('one_or_regular') }}
                </label>
            </div>

            <div class="col-3">
                <select class="form-control form-control-sm" v-model="user.entity.one_or_regular"
                        id="one_or_regular">
                    <option value="one">{{ $t('one') }}</option>
                    <option value="regular">{{ $t('regular') }}</option>
                    <option value="no_matter">{{ $t('no_matter') }}</option>
                </select>
            </div>
        </div>

        <!--        ready to work-->
        <div class="row">
            <div class="col-3">
                <label for="ready_to_work" class="form-label col-form-label-sm">
                    {{ $t('ready_to_work') }}
                </label>
            </div>

            <div class="col-3">
                <select class="form-control form-control-sm" v-model="user.entity.ready_to_work"
                        id="ready_to_work">
                    <option value="yes">{{ $t('yes') }}</option>
                    <option value="no">{{ $t('no') }}</option>
                </select>
            </div>
        </div>

<!--        start date ready to work-->
        <div class="row">
            <div class="col-3">
                <label for="start_date_ready_to_work" class="form-label col-form-label-sm">
                    {{ $t('start_date_ready_to_work') }}
                </label>
            </div>

            <div class="col-3">
                <input type="date" class="form-control form-control-sm" v-model="user.entity.start_date_ready_to_work"
                        id="start_date_ready_to_work">
            </div>
        </div>

        <div class="row">

            <div class="row">
                <div class="col-12 justify-content-center">
                    <span class="form-label col-form-label-sm">{{ $t('time_calendar') }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-4 offset-4 justify-content-center">{{ $t('weekdays') }}</div>
                    <div class="col-4 justify-content-center">{{ $t('weekends') }}</div>
                </div>
                <div class="row">
                    <div class="col-4 offset-4 justify-content-center">{{ $t('mon_fri') }}</div>
                    <div class="col-4 justify-content-center">{{ $t('sat_sun') }}</div>
                </div>

                <!--                        7-11 Uhr  -->
                <div class="row">
                    <div class="col-4">7-11 Uhr</div>
                    <div class="col-4 justify-content-center">
                        <input type="checkbox" id="weekdays_morning" true-value="1" false-value="0"
                               v-model="user.entity.work_time_pref.weekdays_7_11">
                        &nbsp;<label for="weekdays_morning"></label>
                    </div>
                    <div class="col-4 justify-content-center">
                        <input type="checkbox" id="weekends_morning" true-value="1" false-value="0"
                               v-model="user.entity.work_time_pref.weekends_7_11">
                        &nbsp;<label for="weekends_morning"></label>
                    </div>
                </div>
                <!--                        11-14 Uhr  -->
                <div class="row">
                    <div class="col-4">11-14 Uhr</div>
                    <div class="col-4 justify-content-center">
                        <input type="checkbox" id="weekdays_afternoon" true-value="1" false-value="0"
                               v-model="user.entity.work_time_pref.weekdays_11_14">
                        &nbsp;<label for="weekdays_afternoon"></label>
                    </div>
                    <div class="col-4 justify-content-center">
                        <input type="checkbox" id="weekends_afternoon" true-value="1" false-value="0"
                               v-model="user.entity.work_time_pref.weekends_11_14">
                        &nbsp;<label for="weekends_afternoon"></label>
                    </div>
                </div>
                <!--                        14-17 Uhr -->
                <div class="row">
                    <div class="col-4">14-17 Uhr</div>
                    <div class="col-4 justify-content-center">
                        <input type="checkbox" id="weekdays_evening" true-value="1" false-value="0"
                               v-model="user.entity.work_time_pref.weekdays_14_17">
                        &nbsp;<label for="weekdays_evening"></label>
                    </div>
                    <div class="col-4 justify-content-center">
                        <input type="checkbox" id="weekends_evening" true-value="1" false-value="0"
                               v-model="user.entity.work_time_pref.weekends_14_17">
                        &nbsp;<label for="weekends_evening"></label>
                    </div>
                </div>
                <!--                        17-21 Uhr -->
                <div class="row">
                    <div class="col-4">17-21 Uhr</div>
                    <div class="col-4 justify-content-center">
                        <input type="checkbox" id="weekdays_overnight" true-value="1" false-value="0"
                               v-model="user.entity.work_time_pref.weekdays_17_21">
                        &nbsp;<label for="weekdays_overnight"></label>
                    </div>
                    <div class="col-4 justify-content-center">
                        <input type="checkbox" id="weekends_overnight" true-value="1" false-value="0"
                               v-model="user.entity.work_time_pref.weekends_17_21">
                        &nbsp;<label for="weekends_overnight"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-if="file_active" class="container-fluid">
        <div class="row">
            <!--        photo-->
            <div class="col-3">

                <div v-if="user.entity.original_photo !== null" class="my-information-photo-wrapper">
                    <img v-bind:src="path + '/storage/' + user.entity.original_photo" alt="no-photo"
                         class="my-information-photo">
                </div>

                <div v-else class="my-information-photo-wrapper">
                    <img :src="path + '/images/no-photo.jpg'" alt="no-photo" class="my-information-photo">

                </div>

                <input type="file" name="nurse_new_photo"
                       ref="file"
                       v-on:change="photoUpload()"
                       class="form-control-file form-control-sm">
                <span class="register-form-error" v-if="errors !== null && errors['file'] !== undefined">{{ errors['file'][0] }}</span>
            </div>

            <div class="col-3 offset-1" style="border: solid 1px lightgray">
                <div>
                    {{ $t('criminal_record') }}
                    <input type="file" id="criminal_record" ref="criminal_record" multiple
                           class="form-control-file form-control-sm"/>
                    <p class="file_name" v-for="item in filterFiles(user.entity.files, 'criminal_record')">{{
                        item.original_name }}</p><br>
                    <span class="register-form-error" v-if="errors !== null && errors['criminal_record'] !== undefined">{{ errors['criminal_record'][0] }}</span>
                </div>

                <div>
                    {{ $t('documentation_of_training') }}
                    <input type="file" id="documentation_of_training" ref="documentation_of_training" multiple
                           class="form-control-file form-control-sm"/>
                    <p class="file_name" v-for="item in filterFiles(user.entity.files, 'documentation_of_training')">{{
                        item.original_name }}</p>
                    <span class="register-form-error"
                          v-if="errors !== null && errors['documentation_of_training'] !== undefined">{{ errors['documentation_of_training'][0] }}</span>
                </div>

                <div>
                    {{ $t('CPR_course') }}
                    <input type="file" id="CPR_course" ref="CPR_course" multiple
                           class="form-control-file form-control-sm"/>
                    <p class="file_name" v-for="item in filterFiles(user.entity.files, 'CPR_course')">{{
                        item.original_name }}</p>
                </div>

                <div>
                    {{ $t('references') }}
                    <input type="file" id="references" ref="references" multiple
                           class="form-control-file form-control-sm"/>
                    <p class="file_name" v-for="item in filterFiles(user.entity.files, 'references')">{{
                        item.original_name }}</p>
                </div>
            </div>
        </div>
    </div>



<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-2 offset-10">-->
<!--                <button class="btn btn-success btn-sm" v-on:click="updateInformation">{{ $t('update') }}</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div>


