.chat-wrapper {
    height: 400px;
    overflow: auto;
    background: lightcyan;
    padding: 10px;
}

.chat-client-message-wrapper {
    background: #85acff;
    border: solid 1px #405dff;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    margin-bottom: 10px;
}

.chat-client-name {
    font-size: 14px;
    font-weight: 700;
    color: #051dff;
}

.chat-client-message {
    font-size: 14px;
    font-weight: 700;
    color: #6500ff;
}

.chat-client-date {
    font-size: 10px;
    font-weight: 700;
    color: #051dff;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    color: white;
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
    background-color: #ff7a58;
}

.arrow {
    cursor: pointer;
    padding: 0 0.4em 0.2em 0.4em;
    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;
    flex-grow: 0;
}

.arrow:hover {
    color: #dcdcdc;
}

.title {
    cursor: pointer;
    flex-grow: 1;
    font-size: 1.2rem;
    text-align: center;
}

.title:hover {
    color: #dcdcdc;
}

.weekdays {
    display: flex;
    flex: auto;
}

.weekday {
    width: 14.2857%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
    background-color: #eaeaea;
}

.week {
    display: flex;
}

.day {
    width: 14.2857%;
    height: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    color: #3a3a3a;
    background-color: white;
    border: solid 1px #aaaaaa;
}

.calendar-marker {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.calendar-marker-busy {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: red;
    margin-top: 5px;
}

.calendar-marker-not-busy {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: green;
    margin-top: 5px;
}

.today {
    font-weight: 500;
    color: white;
    background-color: #ff7a58;
}

.checkday {
    font-weight: 500;
    color: white;
    background-color: #1b40ff;

}

.day-content {
    cursor: pointer;
}

.label-name {
    font-size: 14px;
    font-weight: 700;
}
