.pt-messages{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: calc(100% - 80px);
    padding: 0 20px 0 0;

    &--panel{
        width: 280px;
        min-width: 280px;
        margin-right: 30px;
        height: 100%;
        overflow: auto;
    }

    &--body{
        width: 100%;
        height: 100%;
    }

    &--tabs{
        width: 280px;
        min-width: 280px;
        height: 50px;
        background-color: $light-blue;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: 5px 8px;
        margin-bottom: 30px;

        &-btn{
            cursor: pointer;
            border-radius: 30px;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            transition: 0.3s;
            width: 100%;
            color: $black;

            &.active,
            &:hover{
                color: $white;
                background-color: $highlight-primary;
            }
        }
    }
}

.pt-client{
    $self: &;
    border: 2px solid $light-gray;
    background-color: $white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
    margin: 8px 0;
    cursor: pointer;
    transition: 0.3s;

    &--name,
    &--date,
    &--msg{
        transition: 0.3s;
    }

    &:hover{
        background-color: $highlight;
        border-color: $highlight;

        #{$self}--name,
        #{$self}--date,
        #{$self}--msg{
            color: $white;
        }
    }

    &__active{
        background-color: $highlight-primary;
        border-color: $highlight-primary;

        #{$self}--name,
        #{$self}--date,
        #{$self}--msg{
            color: $white;
        }
    }

    &--avatar{
        width: 40px;
        min-width: 40px;
        height: 40px;
        background-color: $light-blue;
        border-radius: 50%;
        position: relative;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        &-no-photo{
            color: $highlight-primary;
            font-size: 0;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;

            span{
                display: block;

                &:first-letter{
                    font-size: 14px;
                }
            }
        }
    }

    &--signal{
        width: 8px;
        height: 8px;
        background-color: #5ac809;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &--info{
        width: calc(100% - 115px);
    }

    &--name{
        color: $black;
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &--msg{
        color: $gray;
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--meta{
        width: 55px;
        min-width: 55px;
        text-align: right;
    }

    &--date{
        color: $highlight-primary;
        font-size: 12px;
        font-weight: 400;
    }

    &--count{
        width: 20px;
        height: 20px;
        background-color: $highlight;
        border-radius: 50%;
        color: $white;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 auto;
    }
}
